@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  --color-red : #ff4531;
  --color-orange : #ff9f0a;
  --color-yellow : #ffd601;
  --color-green : #32d74b;
  --color-gray : #98989d;
  --color-dark : #333333;
}


.font{
  font-family: "Doto", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings:
    "ROND" 0;
}

@layer components{
  .btn{
    @apply h-4 w-4 rounded-full ;
  }
}

